*{
    margin:0;
    font-family: arial;
    border:border-box;
    
}

/* box 1 */

.box1{
    height: 700px;
    width: 1515px;
    background-image:url("netflix.png") ;
    background-size: cover;
    background-repeat: none;
    border-bottom: 10px solid rgb(102, 102, 102);
}

.navbar{
    height: 100px;
    width: 1515px;
    display: flex;
    
}

.nav-logo{
    background-image: url("netflix-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 150px;
    width: 200px;
    margin-left: 150px;
   
}

#language{
    margin-left: 750px ;
    margin-top: 55px;
    width: 150px;
    height: 40px;
    background: transparent;
    border: 2px solid grey;
    border-radius: 4px;
    color:white;
    font-size: large;
    font-weight: 900px;
    text-align: center;
}

#sign{
    margin-left: 20px;
    border-radius: 4px;
    color: white;
    text-align: center;
    font-size: large;
    font-weight: 900px;
    margin-top: 55px;
    width: 90px;
    height: 40px; 
    background-color: rgb(229, 9, 20);
}

.in{
    margin-top: 10px;
}

#sign:hover{
    background-color:rgb(192, 8, 17) ;
    cursor: pointer;
}

.mid-box1{
    color: white;
    text-align: center;
    height: 250px;
    width: 1515px;
    margin-top: 150px;
    
}

#h1{
    font-size: 48px;
    font-weight: 900;
    
}

#p1{
    margin-top: 16px;
    font-weight: 400;
    font-size: 24px;
}

#p2{
    margin-top: 24px;
    font-weight: 400;
    font-size: 20px;
}

.mid-box2{
    height: 200px;
    width: 1515px;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

#email{
    margin-top: -100px;
    width: 400px;
    height: 50px;
    background-color:  transparent;
    border-radius: 6px;
    border: 2px solid grey;
    justify-items: center;
    color: white;
    opacity: url(0.6);
    margin-right: 10px;
    
}


#start{
    margin-top: -100px;
    width: 200px;
    height: 55px;
    padding-left: 10px;
    margin-right: 10px;
    background-color: rgb(229, 9, 20);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    border: none;
    color: white;
    border-radius: 6px;
} 
#start:hover{
    background-color:rgb(192, 8, 17) ;
    cursor: pointer;
}

/* boxes */
.boxes{
    display: flex;
    flex-wrap: wrap;
}

/* box2 */
.box2{
    background-color: rgb(0, 0, 0);
    height: 600px;
    width: 1515px;
    margin: none;
    border-bottom: 10px solid rgb(102, 102, 102);
    display: flex;
}
.para{
    padding-top: 200px;
    padding-left: 170px;
    height: 400px;
    width: 900px;
    color: white;
    

}

#h2{
    font-size: 48px;
    font-weight: 900;
    display: flex;
    justify-content: start;
}

#p3{
    margin-top: 16px;
    font-weight: 400;
    font-size: 24px;
   
}

.box2img{
    width:755px;
    height: 600px;
    background-image: url("b.webp");
    background-size: contain;
    background-repeat: no-repeat;  
    margin-top: 50px;
    margin-right: 40px;
    

}

/* box3 */
.box3{
    background-color: rgb(0, 0, 0);
    height: 600px;
    width: 1515px;
    margin: none;
    border-bottom: 10px solid rgb(102, 102, 102);
    display: flex;
}
.para{
    padding-top: 200px;
    padding-left: 70px;
    height: 400px;
    width: 900px;
    color: white;
    justify-content: center;

}

#h2{
    font-size: 48px;
    font-weight: 900;
}

#p3{
    margin-top: 16px;
    font-weight: 400;
    font-size: 24px;
   
}

.box3img{
    padding-top: 200px;
    padding-right: 200px;
    width:755px;
    height: 400px;
    background-image: url("box3.png");
    background-size: contain;
    background-repeat: no-repeat;

}

/* footer */
.last1{
    height:900px;
    width:1515px;
    background-color: black;
    border-bottom: 10px solid rgb(102, 102, 102);
    display: flex;
    flex-wrap: wrap;
}

#h3{
    font-size: 48px;
    font-weight: 900;
    color: white;
    text-align: center;
}

.l1{
     height: 60px;
     width: 1515px;
     padding-top: 50px;
}
#h2{
    text-align: center;
    color: white;
}
.l2{
    margin:0px;
    padding: 0px;
    height: 70px;
    width: 1515px;
    text-align: center;
  
}

#b1{
    color: white;
    font-size: 24px;
    background-color: rgb(48, 48, 48);
    height: 75px;
    width:1200px;
    border:none;
    cursor: pointer;
    margin-bottom: -10px;
    text-align: none;
}

.l3{
    color:white;
    height:30px;
    width:1515px;
    text-align: center;
    padding: -10px;
}

.l4{
    padding: 30px;
    height: 60px;
    width: 1515px;
    text-align: center;
}

#b1:hover{
    cursor: pointer;
    background-color:rgb(66, 66, 66) ;
}

.last2{
    background-color: black;
    color: white;
    height:400px;
    width: 1515px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
    text-decoration: underline;
    padding-right: 90px;
    padding-bottom: 15px;
}


ul p{
    margin-top: 10px;
    color: #dddddd;
    padding-right: 90px;
    padding-bottom: 15px;
    padding-top: 15px;
}

#language1{
    width: 100px;
    height: 25px;
    background: rgb(17, 17, 17);
    border: 2px solid grey;
    border-radius: 4px;
    color:white;
    font-size: large;
    font-weight: 900px;
    text-align: center;
}